@charset "UTF-8";

body {
    background-color: rgba(250, 235, 215, 0.636);
}

section {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(194, 133, 20, 0.169);
}

h1 {
    text-align: center;
    text-shadow: 5px 5px 5px rgba(194, 133, 20, 0.197);
}