@charset "UTF-8";

body {
    background-image: linear-gradient(to left, white, pink );
    font: normal 15px Arial;
}

header {
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.43);
}

select#ilista {
    width: 150px;
}

footer {
    text-align: center;
}

header, footer {
    color: white;
}

a {
    text-decoration: none;
    color: white;
} 

p {
    margin-top: 25px;
}

h1 {
    color: rgba(255, 0, 0, 0.447);
}